body {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #86796b;
}

a:hover {
  color: #3A405A;
}

.menu {
  background-color: #fbf1c7;
}

.menuItem {
  padding-left: 1em;
  padding-bottom: 0.5em;
  display: inline-block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content {
  margin: 0.5em;
  padding: 5px;
  padding-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.code { 
  background: #bdae93;
  padding: 10px;
  font-family: 'Iosevka Term Slab', 'Consolas', 'Courier New', monospace;
}

.menuItem img {
  display: block;
}

textarea {
  width: 99.8%;
  height: 40vh;
}